body {
	margin-top: 7rem;
}

h1 {
	text-align: center;
	margin-bottom: 4rem;
}

.salary {
	color: rgb(14, 98, 255);
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: rgb(216, 216, 216);
}
